.header {
    text-align: center;
    color: white;
    background:#6610f2;
    padding: 10px;
}

body {
    background: #ECF0F1
}


.crystals {
  margin: auto;
  width: 50%;
  
  
  padding: 10px;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
 }
 
 .footer:link {
   color: red;
 }
 
 /* visited link */
 .footer:visited {
   color: green;
 }
 
 /* mouse over link */
 .footer:hover {
   color: hotpink;
 }
 
 /* selected link */
 .footer:active {
   color: blue;
 }
 